$xmasRed:#DC5827;
$xmasYellow:#FFC840;
$xmasGreen:#3AA162;
$xmasBlue:#004369;
$xmasBlack:#002B41;

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
  font-family: 'Kiwi Maru', serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

div.full_page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

div#entry {
  z-index: 10;
  background-image: url('../images/entry/background.png');
  background-size: cover;

  .entry_img {
    position: absolute;
  }

  img.entry_title {
    width: 40vw;
    top: 10vh;
    right: 5vw;
  }

  h3.entry_slogan {
    color: white;
    font-style: italic;
    font-size: 2.5vw;
    position: absolute;
    right: 5vw;
    top: 40vh;
  }


  a.donate {
    width: 33vw;
    height: 33vw;
    bottom: 0;
    left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.3);
      transition: 0.2s;
    }

    img.tanuki_in_shoe {
      height: 100%;
    }
  }

  img.snowman {
    width: 15vw;
    bottom: 5vh;
    right: 3vw;
  }

  img.bell {
    width: 6vw;
    top: 5vh;
    right: 3vw;

    &:hover {
      cursor: pointer;
      width: 7vw;
      transition: 0.2s;
    }
  }


  div.button_wrap {
    position: absolute;
    bottom: 15vh;
    right: 20vw;
    text-align: center;
    display: flex;
    gap: 2vw;

    div.btn_block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div.rank {
      position: relative;
      top: 18vh;
    }

    button#enter,
    button#rank {
      border-radius: 100px;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;


      &:hover {
        transform: translate(2px, 2px);
      }

      &:active {
        transform: translate(4px, 4px);
        box-shadow: 0 0 0 0;
      }
    }

    button#enter {
      width: 10vw;
      height: 10vw;
      font-size: 5vw;
      background-color: $xmasRed;
      color: white;
      box-shadow: 0.35vw 0.35vw 0 white;

      i {
        position: relative;
        left: 0.5vw;
      }
    }

    button#rank {
      width: 6vw;
      height: 6vw;
      font-size: 3vw;
      background-color: $xmasGreen;
      color: white;
      box-shadow: 0.35vw 0.35vw 0 white;

    }

    h2 {
      margin: 0.8vw;
      color: $xmasYellow;
      font-weight: 400;
    }

    h2.play {
      font-size: 3vw;
    }

    h2.rank {
      font-size: 2vw;
    }
  }
}


div#ranking {
  z-index: 8;
  background-image: url('../images/ranking/background.png');
  background-size: cover;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 4vh;

  img.title {
    width: 20vw;
  }

  div.ranking_table {
    box-sizing: border-box;
    padding: 2vw;
    width: 60vw;
    height: 70vh;
    border-radius: 1.5vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;

    img.deco {
      width: 30vw;
      position: absolute;
      bottom: 0;
      right: 2vw;
      opacity: 0.6;
    }

    table::-webkit-scrollbar {
      display: none;
    }

    table {
      width: 58vw;
      height: 30vw;
      font-size: 2vw;
      display: flex;
      justify-content: center;
      align-self: center;
      overflow-y: scroll;
      border-collapse: collapse;

      tr:first-child {
        border-bottom: 1px solid $xmasBlue;

      }

      tr.record:nth-child(odd) {
        background-color: #9CBBCD;
      }

      th {
        font-weight: 400;
        color: $xmasBlue;
      }

      th.rank {
        color: $xmasRed;

      }

      td {
        color: $xmasBlack;
      }

      td.rank {
        color: $xmasRed;
        font-weight: bold;
      }

      td,
      th {
        text-align: center;
        width: 15vw;
        height: 5vh;
      }
    }
  }
}

div#recordPopUp {
  z-index: 8;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 28vw;
  height: 10vh;
  border-radius: 5vw;
  color: white;
  position: absolute;
  bottom: 10vh;
  right: 20vw;
  background-color: $xmasGreen;

  input {
    padding: 0 0.5vw;
    width: 12vw;
    height: 5vh;
    border-radius: 0.3vw;
    border: none;
  }

  button.submit {
    width: 4vw;
    height: 5vh;
    border-radius: 5vw;
    background-color: $xmasRed;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }
}



div#surprise {
  z-index: 1;
  display: none;
  background-image: url('../images/surprise/background.png');
  background-size: cover;

  div.text_wrap {
    position: relative;
    right: 22vw;

    h2 {
      text-align: center;
      margin: 0.5vw;
      font-size: 4vw;
      color: #FFC840;
    }

    div.paragraph {
      box-sizing: border-box;
      padding: 0 1vw;
      background-color: $xmasBlue;
      border-radius: 4vw;
      width: 40vw;
      height: 70vh;
      overflow-y: scroll;

      p {
        font-size: 1.6vw;
        color: white;
      }
    }
  }

  div.paragraph::-webkit-scrollbar {
    display: none;
  }


  div.wrap {
    position: absolute;
  }

  div.tooto {
    right: 31vw;
    bottom: 4vh;

    img.tooto {
      width: 18vw;
    }
  }


  div.mimi {
    right: 1vw;
    bottom: 20vh;

    img.mimi {
      width: 15vw;
    }
  }

  div.tanuki {
    bottom: 1vh;
    right: 16vw;

    img.tanuki {
      width: 13vw;
    }
  }


  img {
    border-radius: 5vw;
  }

  img.title {
    position: absolute;
    width: 40vw;
    right: 0;
    top: -2vh;
  }

  img.character {

    &:hover {
      cursor: pointer;
      transform: scale(1.3);
      transition: 0.2s;
    }
  }



}

/* chooseGameMode */
div#chooseGameMode {
  z-index: 9;
  background-image: url('../images/choose-game-mode/background.png');
  background-size: cover;
  display: none;
  justify-content: center;

  img.chooseGameMode_title {
    width: 40vw;
    position: absolute;
    top: 10vh;
    right: 14vw;
  }

  h3.chooseGameMode_slogan {
    color: $xmasYellow;
    font-style: italic;
    font-size: 2.5vw;
    position: absolute;
    right: 15vw;
    top: 22vh;
  }


  div.mode_wrap {
    display: flex;
    justify-content: center;
    gap: 10vh;
    position: relative;
    top: 15vh;

    div.mode_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column-reverse;
      width: 20vw;
      height: 48vh;
      gap: 2vh;

      &:nth-child(1) button.game_mode_btn {
        color: $xmasYellow;
        box-shadow: 6px 6px 0 $xmasYellow;
      }

      &:nth-child(2) button.game_mode_btn {
        color: $xmasRed;
        box-shadow: 6px 6px 0 $xmasRed;
      }

      &:nth-child(3) button.game_mode_btn {
        color: $xmasGreen;
        box-shadow: 6px 6px 0 $xmasGreen;
      }

      img.three_small {
        height: 35vh;
        object-fit: cover;
      }

      button.game_mode_btn {
        position: relative;
        z-index: 1;
        width: 80%;
        height: 12vh;
        border-radius: 5vw;
        background-color: white;
        text-align: center;
        border: 0;
        font-size: 2vw;

        &:hover {
          opacity: 0.9;
        }

        &:hover+img.three_small {
          transform: scale(1.3);
          transition: 0.2s;
        }

        &:active {
          transform: translate(4px, 4px);
        }
      }
    }
  }
}


/* countdown */
div#countdown {
  z-index: 7;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  font-size: 20vw;
  color: white;
}

div#controller {
  width: 20vw;
  position: absolute;
  transform: translateX(-50%);
  left: 50vw;
  bottom: 10vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;


  div.middle_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
  }


  button.control {
    width: 5vw;
    height: 5vw;
    border-radius: 5vw;
    background-color: white;
    color: $xmasBlue;
    text-align: center;
    border: 0;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;

    &:hover {
      background-color: $xmasBlue;
      color: white;
    }

    &:active {
      transform: translate(4px, 4px);
    }
  }

  button.up {
    position: absolute;
    top: -8vh;
  }

  button.down {
    position: absolute;
    top: 8vh;
  }


}

// crash
div#myfilter {
  z-index: 7;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5vh;

  h2.title {
    margin: 0;
    font-size: 8vw;
    color: white;
    font-weight: 400;

    img {
      width: 10vw;
    }
  }

  h3#score {
    margin: 0;
    font-size: 5vw;
    color: white;
    font-weight: 400;
  }


}

// pause
div.pause {
  position: absolute;

  div.pause_bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 14vw;
    height: 3vw;
    border-radius: 0 0 1vw 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;

    i {
      font-size: 1.5vw;
      transform: translateY(0.2vh);
    }
  }

  div#pause_control {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    position: absolute;
    width: 60vw;
    height: 60vh;
    border-radius: 2vw;
    background: rgba(0, 0, 0, 0.5);

    h2.title {
      margin: 0;
      font-size: 5vw;
      color: white;
      font-weight: 400;

      img {
        width: 10vw;
      }
    }
  }
}


div.btn_wrap {
  display: flex;
  justify-content: center;

  button {
    margin: 0 1vw;
    padding: 0 2vw;
    height: 15vh;
    border-radius: 5vw;
    background-color: white;
    color: $xmasBlue;
    text-align: center;
    border: 0;
    font-size: 1.5vw;

    &:hover {
      color: white;
    }

    &:nth-child(1):hover {
      background-color: $xmasYellow;
    }

    &:nth-child(2):hover {
      background-color: $xmasRed;
    }

    &:nth-child(3):hover {
      background-color: $xmasGreen;
    }

    &:nth-child(4):hover {
      background-color: $xmasBlue;
    }

  }
}

// back to home
button#home {
  z-index: 9;
  width: 6vw;
  height: 6vw;
  border-radius: 10vw;
  background-color: white;
  color: $xmasBlue;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  right: 1vw;
  bottom: 2vh;
  cursor: pointer;


  &:hover {
    color: $xmasRed;
  }

  &:active {
    transform: translate(4px, 4px);
  }
}

button {
  cursor: pointer;
  border: none;
}