$xmasRed:#DC5827;
$xmasYellow:#FFC840;
$xmasGreen:#3AA162;
$xmasBlue:#004369;

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
  font-family: 'Kiwi Maru', serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

div.full_page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

div#entry {
  z-index: 999;
  background-image: url('../images/entry/background.png');
  background-size: cover;

  .entry_img {
    position: absolute;
    width: 10vw;
  }

  img.entry_title {
    width: 40vw;
    top: 10vh;
    right: 5vw;
  }

  h3.entry_slogan {
    color: white;
    font-style: italic;
    font-size: 2.5vw;
    position: absolute;
    right: 5vw;
    top: 40vh;
  }


  a.donate {
    width: 33vw;
    height: 33vw;
    z-index: 5;
    bottom: 0;
    left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.3);
      transition: 0.2s;
    }

    img.tanuki_in_shoe {
      height: 100%;
    }
  }

  img.snowman {
    width: 15vw;
    bottom: 5vh;
    right: 5vw;
  }



  div.button_wrap {
    position: absolute;
    bottom: 15vh;
    right: 20vw;
    text-align: center;
    display: flex;
    gap: 2vw;

    div.btn_block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div.rank {
      position: relative;
      top: 18vh;
    }

    button {
      border-radius: 100px;

      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button#enter {
      width: 10vw;
      height: 10vw;
      font-size: 5vw;
      background-color: $xmasRed;
      color: white;
      box-shadow: 0.35vw 0.35vw 0  $xmasGreen;


      &:hover {
        background-color: white;
        color: $xmasYellow;
        box-shadow: 0.35vw 0.35vw 0 $xmasYellow;
      }

      i {
        position: relative;
        left: 0.5vw;
      }
    }

    button#rank {
      width: 6vw;
      height: 6vw;
      font-size: 3vw;
      background-color: $xmasYellow;
      color: white;
      box-shadow: 0.35vw 0.35vw 0 $xmasRed;

      &:hover {
        background-color: white;
        color:$xmasGreen;
        box-shadow: 0.35vw 0.35vw 0 $xmasGreen;
      }

    }

    h2 {
      margin: 0.8vw;
      color: white;
      font-weight: 400;
    }

    h2.play {
      font-size: 3vw;
    }

    h2.rank {
      font-size: 2vw;
    }
  }
}



/* chooseGameMode */
div#chooseGameMode {
  z-index: 50;
  background-image: url('../images/choose-game-mode/background.png');
  background-size: cover;
  display: flex;
  justify-content: center;

  img.chooseGameMode_title {
    width: 40vw;
    position: absolute;
    top: 10vh;
    right: 14vw;
  }

  h3.chooseGameMode_slogan {
    color: $xmasYellow;
    font-style: italic;
    font-size: 2.5vw;
    position: absolute;
    right: 15vw;
    top: 22vh;
  }


  div.mode_wrap {
    display: flex;
    justify-content: center;
    gap: 10vh;
    position: relative;
    top: 15vh;

    div.mode_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column-reverse;
      width: 20vw;
      height: 48vh;
      gap: 2vh;

      &:nth-child(1) button.game_mode_btn {
        color: $xmasYellow;
        box-shadow: 6px 6px 0 $xmasYellow;
      }

      &:nth-child(2) button.game_mode_btn {
        color: $xmasRed;
        box-shadow: 6px 6px 0 $xmasRed;
      }

      &:nth-child(3) button.game_mode_btn {
        color: $xmasGreen;
        box-shadow: 6px 6px 0 $xmasGreen;
      }

      img.three_small {
        height: 35vh;
        object-fit: cover;
      }

      button.game_mode_btn {
        position: relative;
        z-index: 10;
        width: 80%;
        height: 12vh;
        border-radius: 5vw;
        background-color: white;
        text-align: center;
        border: 0;
        font-size: 2vw;

        &:hover {
          opacity: 0.9;
        }

        &:hover+img.three_small {
          transform: scale(1.3);
          transition: 0.2s;
        }

        &:active {
          transform: translate(4px, 4px);
        }
      }
    }
  }

  // back to home
  button.back_to_home {
    width: 6vw;
    height: 6vw;
    border-radius: 10vw;
    background-color: white;
    color: $xmasBlue;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;

    right: 2vw;
    bottom: 2vh;
    cursor: pointer;

    &:hover {
      background-color: $xmasGreen;
      color: white;
    }

    &:active {
      transform: translate(4px, 4px);
    }
  }
}


/* countdown */
div#countdown {
  z-index: 30;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  font-size: 20vw;
  color: white;
}

div#controller {
  position: absolute;
  top: 0;
  display: none;



  button.control {
    width: 10vw;
    height: 12vh;
    border-radius: 5vw;
    background-color: white;
    text-align: center;
    border: 0;
    font-size: 2vw;
  }




}

div#myfilter {
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5vh;

  h2.title {
    margin: 0;
    font-size: 8vw;
    color: white;
    font-weight: 400;

    img {
      width: 10vw;
    }
  }

  h3#score {
    margin: 0;
    font-size: 5vw;
    color: white;
    font-weight: 400;
  }


}


div.pause {
  display: flex;
  z-index: 5;
  position: absolute;


  div.pause {
    z-index: 8;
    position: absolute;
    top: 0;
    left: 0;
    width: 14vw;
    height: 3vw;
    border-radius: 0 0 1vw 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;

    i {
      font-size: 1.5vw;
      transform: translateY(0.2vh);
    }
  }

  div#pause_control {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    position: absolute;
    width: 70vw;
    height: 60vh;
    border-radius: 2vw;
    background: rgba(0, 0, 0, 0.5);

    h2.title {
      margin: 0;
      font-size: 5vw;
      color: white;
      font-weight: 400;

      img {
        width: 10vw;
      }
    }
  }
}


div.btn_wrap {
  display: flex;
  justify-content: center;

  button {
    margin: 0 1vw;
    padding: 0 2vw;
    height: 15vh;
    border-radius: 5vw;
    background-color: white;
    color: $xmasBlue;
    text-align: center;
    border: 0;
    font-size: 2vw;

    &:hover {
      color: white;
    }

    &:nth-child(1):hover {
      background-color: $xmasYellow;
    }

    &:nth-child(2):hover {
      background-color: $xmasRed;
    }

    &:nth-child(3):hover {
      background-color: $xmasGreen;
    }

    &:nth-child(4):hover {
      background-color: $xmasBlue;
    }

  }
}

button {
  cursor: pointer;
  border: none;
}

button:active {
  transform: translate(4px, 4px);
}